@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
.web-wrapper {
  width: 100%;
  height: 200vh;
  font-family: "VT323", monospace;
}
#progress {
  position: fixed;
  width: 99.5%;
}
.progress {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #92cc41;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/851550/dotnoise-light-grey.png");
  transition: all linear 0.1s;
  height: 35px;
  border: 5px solid black;
  min-width: 1%;
}
.start-page {
  width: 99.5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #eed6c4;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/851550/dotnoise-light-grey.png");
}
.main-nav {
  width: 99.5%;
  height: 75px;
  background-color: red;
  position: fixed;
  z-index: 100;
  display: none;
}
.start-page #space-video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.container-sec {
  height: 100vh;
  width: 99.5%;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/851550/dotnoise-light-grey.png");
  background-color: #e6584c;
  display: grid;
  grid-template-columns: 0.4fr repeat(6, 1fr 2fr) 0.4fr;
  grid-template-rows: 0.7fr repeat(12, 1fr) 0.7fr;
  z-index: 2;
  font-size: 2rem;
}
/*   background-color: #DE8971; */

.nav {
  grid-area: 2 / 2 / 14 / 5;
  display: flex;
}

.content {
  grid-area: 2 / 5 / 14 / 12;
  overflow: auto;
}
.right-side {
  grid-area: 2 / 12 / 14 / 14;
}

.nav button,
a {
  width: 100%;
  height: 75px;
}
.content div {
  height: 30%;
}

.right-side div {
  width: 100%;
  height: 100%;
}
.nav div {
  width: 100%;
  height: 100%;
}
.container-third {
  width: 100%;
  height: 50vh;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/851550/dotnoise-light-grey.png");
}
.container-fourth {
  width: 100%;
  height: 60vh;
}
#darkcontainer {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/851550/dotnoise-light-grey.png");
}
.container-five {
  width: 100%;
  height: 30vh;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/851550/dotnoise-light-grey.png");
}
.container-six {
  width: 100%;
  height: 100vh;
  background-color: #8fe2ec;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/851550/dotnoise-light-grey.png");
}
.container-seven {
  width: 100%;
  height: 100vh;
  background-color: #ffe9d6;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/851550/dotnoise-light-grey.png");
}
#right-side {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
#right-side a {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
#content-container {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  overflow: auto;
  justify-content: space-around;
}
#framework {
  background-color: #1e1e1e;
  color: white;
}
.container-fourth section {
  width: 99.5%;
  height: 100%;
}

.icon-list {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
section .row {
  top: -50%;
  left: -5%;
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: normal;
  font-size: 64px;
  transform: rotate(-30deg);
}
.box {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  padding: 0 5px;
  user-select: none;
}
.box:hover {
  transition: 0s;
  transform: scale(1.3);
}
section .row div {
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Pure CSS section => image */

.seven-wrap {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
}
.seven-wrap div {
  width: 100%;
  height: 100%;
}
.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
.row2 {
  background-image: url('./img/snake.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}
.row3 {
  padding: 0px;
  margin: 0px;
  background-image: url('./img/pipe.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  justify-content: space-around;
}

.row3 img {
  max-height: 300px;
  transition: 300ms;

}
.row3 img:hover {
  transform: scale(1.1);
  transition: 300ms;
}
